nav {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.Navbar_Right_Box {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.List_items {
    display: flex;
    gap: 48px;
}

.list {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.list:active{
    color: #EE8313;
}

.list:hover{
    color: #EE8313;
}

